.ProductDetailsContainer {
  width: 90%;
}

.ProductHeadingFlex {
  display: flex;
}

.ProductHeadingFlex div {
  display: block;
}

.ProductDetailsImage {
  width: 680px;
  height: 680px;
  border-radius: 4px;
  margin-right: 32px;
  margin-left: 16px;
  margin-top: 16px;
}

.ProductStatus {
  margin-bottom: 16px;
}

.ProductStatus p {
  font-size: 14px;
  color: #999999;
}

.ProductDetailsTitle {
  font-size: 24px;
  font-weight: 100;
  color: #333333;
  margin-bottom: 32px;
}

.ProductDetailsPrice {
  font-size: 46px;
  font-weight: 100;
  color: #333333;
  margin-bottom: 32px;
}

.PurchaseButton button {
  font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  background-color: #3483FA;
  border-color: #3483FA;
  width: 200px;
  height: 46px;
  color: white;
  cursor: pointer;
  display: block;
  flex-grow: 1;
  margin: 0px 0px 0px 0px;
  border-radius: 4px;
  font-size: 15px;
  line-height: 20px;
  min-width: 0px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-collapse: collapse;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
}

.ProductDetailsDescription {
  margin-left: 16px;
}

.ProductDetailsDescription .DescriptionHeading {
  font-size: 28px;
  color: #333333;
  margin-bottom: 16px;
}

.ProductDetailsDescription .DescriptionText {
  font-size: 16px;
  color: #999999;
}
