/* Result Box */
.ResultBoxContainer {
  width: 90%;
}

.ResultBoxFlex
{
  display: flex;
}

.LinkToProductDetail {
  color: #333333;
  font-size: 18px;
  text-decoration: none;
}

.ResultBoxContainer hr
{
  background-color: #EEEEEE !important;
  margin-left: 50px;
  color: #EEEEEE;
}

.ResultBoxImage {
  width: 180px;
  height:180px;
  border-radius: 4px;
}

.ResultBoxPrice
{
  font-size: 24px;
  display:flex !important;
  color: #333333;
}

.ResultBoxLocation
{
  font-size: 14px;
  display: flex  !important;
  margin-left: 600px;
}

.ResultBoxTitle
{
  margin-top: 15px;
  margin-left: 0px;
  display: block !important;
}

.ResultBoxTitle p
{
  font-size: 16px;
}
